<!DOCTYPE html>
<html>
  <%- include('partials/head') %> 
  <body>

    <%- include('partials/header') %>

    <div class="container">
      <h1>Detalles</h1>
    
      <h2><%- pelicula.title%></h2>
        
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
